<h1>Add a comment to project <%= @project.title %></h1>

<%= form_for [@project, @comment] do |f| %>
  <div>
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>

  <%= f.submit %>
<% end %>
