<%= form_for @user do |f| %>

  <% @user.errors.full_messages.each do |error| %>
  <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= error %>
    </div>

  <% end %>

  <div class="form-group">
     <%= f.label :first_name, nil, class: "hidden" %>
     <%= f.text_field :first_name, class: "form-control", placeholder: "First name" %>
  </div>

  <div class="form-group">
     <%= f.label :last_name, nil, class: "hidden" %>
     <%= f.text_field :last_name, class: "form-control", placeholder: "Last name" %>
  </div>

  <div class="form-group">
     <%= f.label :email, nil, class: "hidden" %>
     <%= f.text_field :email, class: "form-control", placeholder: "E-mail" %>
  </div>

  <div class="form-group">
     <%= f.label :password, nil, class: "hidden" %>
     <%= f.password_field :password, class: "form-control", placeholder: "Your password" %>
  </div>

  <div class="form-group">
     <%= f.label :password_confirmation, nil, class: "hidden" %>
     <%= f.password_field :password, class: "form-control", placeholder: "Confirm password" %>
  </div>

  <%= f.submit "Sign up", class: "btn btn-primary btn-lg btn-block", role: "button" %>

<% end %>
